<table class="body" style="margin: 0; background: #f3f3f3!important; border-collapse: collapse; border-spacing: 0; color: #0a0a0a; font-family: OpenSans,Open Sans,Helvetica,Arial,sans-serif; font-size: 16px; font-weight: 400; height: 100%; line-height: 1.3; padding: 0; text-align: left; vertical-align: top; width: 100%;">
<tbody>
<tr style="padding: 0; text-align: left; vertical-align: top;">
<td class="center" style="-moz-hyphens: auto; -webkit-hyphens: auto; margin: 0; border-collapse: collapse!important; color: #fff; font-family: OpenSans,Open Sans,Helvetica,Arial,sans-serif; font-size: 16px; font-weight: 400; hyphens: auto; line-height: 1.3; padding: 0; text-align: left; vertical-align: top; word-wrap: break-word;" align="center" valign="top"><center style="min-width: 580px; width: 100%;" data-parsed="">
<table class="container float-center" style="margin: 0 auto; background: #fefefe; border-collapse: collapse; border-spacing: 0; float: none; padding: 0; text-align: center; vertical-align: top; width: 580px;" align="center">
<tbody>
<tr style="padding: 0; text-align: left; vertical-align: top;">
<td style="-moz-hyphens: auto; -webkit-hyphens: auto; margin: 0; border-collapse: collapse!important; color: #fff; font-family: OpenSans,Open Sans,Helvetica,Arial,sans-serif; font-size: 16px; font-weight: 400; hyphens: auto; line-height: 1.3; padding: 0; text-align: left; vertical-align: top; word-wrap: break-word;">
<table class="spacer footer-td-bcg" style="background-color: #ff6a00; border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; width: 100%;">
<tbody>
<tr style="padding: 0; text-align: left; vertical-align: top;">
<td style="-moz-hyphens: auto; -webkit-hyphens: auto; margin: 0; border-collapse: collapse!important; color: #fff; font-family: OpenSans,Open Sans,Helvetica,Arial,sans-serif; font-size: 16px; font-weight: 400; hyphens: auto; line-height: 16px; mso-line-height-rule: exactly; padding: 0; text-align: left; vertical-align: top; word-wrap: break-word;" height="16px">&nbsp;</td>
</tr>
</tbody>
</table>
<table class="row body-bcg" style="background-color: #000; border-collapse: collapse; border-spacing: 0; display: table; padding: 0; position: relative; text-align: left; vertical-align: top; width: 100%;">
<tbody>
<tr style="padding: 0; text-align: left; vertical-align: top;"><th class="small-12 large-12 columns first last" style="margin: 0 auto; color: #0a0a0a; font-family: OpenSans,Open Sans,Helvetica,Arial,sans-serif; font-size: 16px; font-weight: 400; line-height: 1.3; padding: 0; padding-bottom: 16px; padding-left: 16px; padding-right: 16px; text-align: left; width: 564px;">
<table style="border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; width: 100%;">
<tbody>
<tr style="padding: 0; text-align: left; vertical-align: top;"><th style="margin: 0; color: #0a0a0a; font-family: OpenSans,Open Sans,Helvetica,Arial,sans-serif; font-size: 16px; font-weight: 400; line-height: 1.3; padding: 0; text-align: left;">
<table class="spacer" style="border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; width: 100%;">
<tbody>
<tr style="padding: 0; text-align: left; vertical-align: top;">
<td style="-moz-hyphens: auto; -webkit-hyphens: auto; margin: 0; border-collapse: collapse!important; color: #fff; font-family: OpenSans,Open Sans,Helvetica,Arial,sans-serif; font-size: 20px; font-weight: 400; hyphens: auto; line-height: 20px; mso-line-height-rule: exactly; padding: 0; text-align: left; vertical-align: top; word-wrap: break-word;" height="20px">&nbsp;</td>
</tr>
</tbody>
</table>
<h1 class="text-center oranger-color" style="margin: 0; margin-bottom: 10px; color: #ff6a00; font-family: OpenSans,Open Sans,Helvetica,Arial,sans-serif; font-size: 34px; font-weight: 400; line-height: 1.3; padding: 0; text-align: center; word-wrap: normal;">Thanks for your order!</h1>
<table class="spacer" style="border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; width: 100%;">
<tbody>
<tr style="padding: 0; text-align: left; vertical-align: top;">
<td style="-moz-hyphens: auto; -webkit-hyphens: auto; margin: 0; border-collapse: collapse!important; color: #fff; font-family: OpenSans,Open Sans,Helvetica,Arial,sans-serif; font-size: 16px; font-weight: 400; hyphens: auto; line-height: 16px; mso-line-height-rule: exactly; padding: 0; text-align: left; vertical-align: top; word-wrap: break-word;" height="16px">&nbsp;</td>
</tr>
</tbody>
</table>
<table class="callout" style="margin-bottom: 16px; border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; width: 100%;">
<tbody>
<tr style="padding: 0; text-align: left; vertical-align: top;"><th class="callout-inner secondary white-color" style="margin: 0; background: #ebebeb; background-color: #000; border: 1px solid #ff6a00; color: #0a0a0a; font-family: OpenSans,Open Sans,Helvetica,Arial,sans-serif; font-size: 16px; font-weight: 400; line-height: 1.3; padding: 10px; text-align: left; width: 100%;">
<table class="row" style="border-collapse: collapse; border-spacing: 0; display: table; padding: 0; position: relative; text-align: left; vertical-align: top; width: 100%;">
<tbody>
<tr style="padding: 0; text-align: left; vertical-align: top;"><th class="small-12 large-6 columns first" style="margin: 0 auto; color: #fff; font-family: OpenSans,Open Sans,Helvetica,Arial,sans-serif; font-size: 16px; font-weight: 400; line-height: 1.3; padding: 0; padding-bottom: 16px; padding-left: 0!important; padding-right: 0!important; text-align: left; width: 50%;">
<table style="border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; width: 100%;">
<tbody>
<tr style="padding: 0; text-align: left; vertical-align: top;"><th style="margin: 0; color: #fff; font-family: OpenSans,Open Sans,Helvetica,Arial,sans-serif; font-size: 16px; font-weight: 400; line-height: 1.3; padding: 0; text-align: left;">
<table class="spacer" style="border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; width: 100%;">
<tbody>
<tr style="padding: 0; text-align: left; vertical-align: top;">
<td style="-moz-hyphens: auto; -webkit-hyphens: auto; margin: 0; border-collapse: collapse!important; color: #fff; font-family: OpenSans,Open Sans,Helvetica,Arial,sans-serif; font-size: 5px; font-weight: 400; hyphens: auto; line-height: 5px; mso-line-height-rule: exactly; padding: 0; text-align: left; vertical-align: top; word-wrap: break-word;" height="5px">&nbsp;</td>
</tr>
</tbody>
</table>
<p style="margin: 0; margin-bottom: 10px; color: #fff; font-family: OpenSans,Open Sans,Helvetica,Arial,sans-serif; font-size: 16px; font-weight: 400; line-height: 1.3; padding: 0; text-align: left;"><strong>Payment Method</strong><br />${PaymentMethod}</p>
<table class="spacer" style="border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; width: 100%;">
<tbody>
<tr style="padding: 0; text-align: left; vertical-align: top;">
<td style="-moz-hyphens: auto; -webkit-hyphens: auto; margin: 0; border-collapse: collapse!important; color: #fff; font-family: OpenSans,Open Sans,Helvetica,Arial,sans-serif; font-size: 5px; font-weight: 400; hyphens: auto; line-height: 5px; mso-line-height-rule: exactly; padding: 0; text-align: left; vertical-align: top; word-wrap: break-word;" height="5px">&nbsp;</td>
</tr>
</tbody>
</table>
<table class="spacer" style="border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; width: 100%;">
<tbody>
<tr style="padding: 0; text-align: left; vertical-align: top;">
<td style="-moz-hyphens: auto; -webkit-hyphens: auto; margin: 0; border-collapse: collapse!important; color: #fff; font-family: OpenSans,Open Sans,Helvetica,Arial,sans-serif; font-size: 5px; font-weight: 400; hyphens: auto; line-height: 5px; mso-line-height-rule: exactly; padding: 0; text-align: left; vertical-align: top; word-wrap: break-word;" height="5px">&nbsp;</td>
</tr>
</tbody>
</table>
<p style="margin: 0; margin-bottom: 10px; color: #fff; font-family: OpenSans,Open Sans,Helvetica,Arial,sans-serif; font-size: 16px; font-weight: 400; line-height: 1.3; padding: 0; text-align: left;"><strong>Email Address</strong><br />${EmailAdress}</p>
<table class="spacer" style="border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; width: 100%;">
<tbody>
<tr style="padding: 0; text-align: left; vertical-align: top;">
<td style="-moz-hyphens: auto; -webkit-hyphens: auto; margin: 0; border-collapse: collapse!important; color: #fff; font-family: OpenSans,Open Sans,Helvetica,Arial,sans-serif; font-size: 5px; font-weight: 400; hyphens: auto; line-height: 5px; mso-line-height-rule: exactly; padding: 0; text-align: left; vertical-align: top; word-wrap: break-word;" height="5px">&nbsp;</td>
</tr>
</tbody>
</table>
<table class="spacer" style="border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; width: 100%;">
<tbody>
<tr style="padding: 0; text-align: left; vertical-align: top;">
<td style="-moz-hyphens: auto; -webkit-hyphens: auto; margin: 0; border-collapse: collapse!important; color: #fff; font-family: OpenSans,Open Sans,Helvetica,Arial,sans-serif; font-size: 5px; font-weight: 400; hyphens: auto; line-height: 5px; mso-line-height-rule: exactly; padding: 0; text-align: left; vertical-align: top; word-wrap: break-word;" height="5px">&nbsp;</td>
</tr>
</tbody>
</table>
<p style="margin: 0; margin-bottom: 10px; color: #fff; font-family: OpenSans,Open Sans,Helvetica,Arial,sans-serif; font-size: 16px; font-weight: 400; line-height: 1.3; padding: 0; text-align: left;"><strong>Order ID</strong><br />${OrderID}</p>
</th></tr>
</tbody>
</table>
</th><th class="small-12 large-6 columns last" style="margin: 0 auto; color: #fff; font-family: OpenSans,Open Sans,Helvetica,Arial,sans-serif; font-size: 16px; font-weight: 400; line-height: 1.3; padding: 0; padding-bottom: 16px; padding-left: 0!important; padding-right: 0!important; text-align: left; width: 50%;">
<table style="border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; width: 100%;">
<tbody>
<tr style="padding: 0; text-align: left; vertical-align: top;"><th style="margin: 0; color: #fff; font-family: OpenSans,Open Sans,Helvetica,Arial,sans-serif; font-size: 16px; font-weight: 400; line-height: 1.3; padding: 0; text-align: left;">
<table class="spacer" style="border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; width: 100%;">
<tbody>
<tr style="padding: 0; text-align: left; vertical-align: top;">
<td style="-moz-hyphens: auto; -webkit-hyphens: auto; margin: 0; border-collapse: collapse!important; color: #fff; font-family: OpenSans,Open Sans,Helvetica,Arial,sans-serif; font-size: 5px; font-weight: 400; hyphens: auto; line-height: 5px; mso-line-height-rule: exactly; padding: 0; text-align: left; vertical-align: top; word-wrap: break-word;" height="5px">&nbsp;</td>
</tr>
</tbody>
</table>
<p style="margin: 0; margin-bottom: 10px; color: #fff; font-family: OpenSans,Open Sans,Helvetica,Arial,sans-serif; font-size: 16px; font-weight: 400; line-height: 1.3; padding: 0; text-align: left;"><strong>Name</strong><br />${Name}</p>
<table class="spacer" style="border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; width: 100%;">
<tbody>
<tr style="padding: 0; text-align: left; vertical-align: top;">
<td style="-moz-hyphens: auto; -webkit-hyphens: auto; margin: 0; border-collapse: collapse!important; color: #fff; font-family: OpenSans,Open Sans,Helvetica,Arial,sans-serif; font-size: 30px; font-weight: 400; hyphens: auto; line-height: 30px; mso-line-height-rule: exactly; padding: 0; text-align: left; vertical-align: top; word-wrap: break-word;" height="30px">&nbsp;</td>
</tr>
</tbody>
</table>
<p style="margin: 0; margin-bottom: 10px; color: #fff; font-family: OpenSans,Open Sans,Helvetica,Arial,sans-serif; font-size: 16px; font-weight: 400; line-height: 1.3; padding: 0; text-align: left;"><strong>Choosen cinema</strong><br />${cinemaName}<br />${cinemaAdress}</p>
</th></tr>
</tbody>
</table>
</th></tr>
</tbody>
</table>
</th><th class="expander" style="margin: 0; color: #0a0a0a; font-family: OpenSans,Open Sans,Helvetica,Arial,sans-serif; font-size: 16px; font-weight: 400; line-height: 1.3; padding: 0!important; text-align: left; visibility: hidden; width: 0;">&nbsp;</th></tr>
</tbody>
</table>
<h4 class="white-color" style="margin: 0; margin-bottom: 10px; color: #fff; font-family: OpenSans,Open Sans,Helvetica,Arial,sans-serif; font-size: 24px; font-weight: 400; line-height: 1.3; padding: 0; text-align: left; word-wrap: normal;">Order Details</h4>
<table class="white-color" style="border-collapse: collapse; border-spacing: 0; color: #fff; padding: 0; text-align: left; vertical-align: top; width: 100%;">
<tbody>
    
<tr style="padding: 0; text-align: left; vertical-align: top;"><th style="margin: 0; color: #fff; font-family: OpenSans,Open Sans,Helvetica,Arial,sans-serif; font-size: 16px; font-weight: 400; line-height: 1.3; padding: 0; text-align: left;">Item</th><th style="margin: 0; color: #fff; font-family: OpenSans,Open Sans,Helvetica,Arial,sans-serif; font-size: 16px; font-weight: 400; line-height: 1.3; padding: 0; text-align: left;">Row</th><th style="margin: 0; color: #fff; font-family: OpenSans,Open Sans,Helvetica,Arial,sans-serif; font-size: 16px; font-weight: 400; line-height: 1.3; padding: 0; text-align: left;">Seat</th><th style="margin: 0; color: #fff; font-family: OpenSans,Open Sans,Helvetica,Arial,sans-serif; font-size: 16px; font-weight: 400; line-height: 1.3; padding: 0; text-align: left;">Price</th></tr>
<#list rowAndSeatList as rowandseat> 
<tr style="padding: 0; text-align: left; vertical-align: top;">
<td style="-moz-hyphens: auto; -webkit-hyphens: auto; margin: 0; border-collapse: collapse!important; color: #fff; font-family: OpenSans,Open Sans,Helvetica,Arial,sans-serif; font-size: 16px; font-weight: 400; hyphens: auto; line-height: 1.3; padding: 0; text-align: left; vertical-align: top; word-wrap: break-word;">
<p>${movieTitle}</p>
</td>

<td style="-moz-hyphens: auto; -webkit-hyphens: auto; margin: 0; border-collapse: collapse!important; color: #fff; font-family: OpenSans,Open Sans,Helvetica,Arial,sans-serif; font-size: 16px; font-weight: 400; hyphens: auto; line-height: 1.3; padding: 0; text-align: left; vertical-align: top; word-wrap: break-word;">

    <p>
    
    ${rowandseat.rowId}
</p>
</td>
<td style="-moz-hyphens: auto; -webkit-hyphens: auto; margin: 0; border-collapse: collapse!important; color: #fff; font-family: OpenSans,Open Sans,Helvetica,Arial,sans-serif; font-size: 16px; font-weight: 400; hyphens: auto; line-height: 1.3; padding: 0; text-align: left; vertical-align: top; word-wrap: break-word;">
<p>${rowandseat.seat}</p>

</td>

<td style="-moz-hyphens: auto; -webkit-hyphens: auto; margin: 0; border-collapse: collapse!important; color: #fff; font-family: OpenSans,Open Sans,Helvetica,Arial,sans-serif; font-size: 16px; font-weight: 400; hyphens: auto; line-height: 1.3; padding: 0; text-align: left; vertical-align: top; word-wrap: break-word;">
<p>${price}</p>


</td>
</tr>
</#list>
<tr style="padding: 0; text-align: left; vertical-align: top;">
<td style="-moz-hyphens: auto; -webkit-hyphens: auto; margin: 0; border-collapse: collapse!important; color: #fff; font-family: OpenSans,Open Sans,Helvetica,Arial,sans-serif; font-size: 16px; font-weight: 400; hyphens: auto; line-height: 1.3; padding: 0; text-align: left; vertical-align: top; word-wrap: break-word;" colspan="3"><strong>Total:</strong></td>
<td style="-moz-hyphens: auto; -webkit-hyphens: auto; margin: 0; border-collapse: collapse!important; color: #fff; font-family: OpenSans,Open Sans,Helvetica,Arial,sans-serif; font-size: 16px; font-weight: 400; hyphens: auto; line-height: 1.3; padding: 0; text-align: left; vertical-align: top; word-wrap: break-word;">${total}</td>
</tr>
</tbody>
</table>
<hr /></th></tr>
</tbody>
</table>
</th></tr>
</tbody>
</table>
<table class="row footer text-center footer-td-bcg" style="background-color: #ff6a00; border-collapse: collapse; border-spacing: 0; display: table; padding: 0; position: relative; text-align: center; vertical-align: top; width: 100%;">
<tbody>
<tr style="padding: 0; text-align: left; vertical-align: top;"><th class="small-12 large-6 columns first" style="margin: 0 auto; color: #0a0a0a; font-family: OpenSans,Open Sans,Helvetica,Arial,sans-serif; font-size: 16px; font-weight: 400; line-height: 1.3; padding: 0; padding-bottom: 16px; padding-left: 16px; padding-right: 8px; text-align: left; width: 274px;">
<table style="border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; width: 100%;">
<tbody>
<tr style="padding: 0; text-align: left; vertical-align: top;"><th style="margin: 0; color: #0a0a0a; font-family: OpenSans,Open Sans,Helvetica,Arial,sans-serif; font-size: 16px; font-weight: 400; line-height: 1.3; padding: 0; text-align: left;">
<table class="spacer" style="border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; width: 100%;">
<tbody>
<tr style="padding: 0; text-align: left; vertical-align: top;">
<td style="-moz-hyphens: auto; -webkit-hyphens: auto; margin: 0; border-collapse: collapse!important; color: #fff; font-family: OpenSans,Open Sans,Helvetica,Arial,sans-serif; font-size: 20px; font-weight: 400; hyphens: auto; line-height: 20px; mso-line-height-rule: exactly; padding: 0; text-align: left; vertical-align: top; word-wrap: break-word;" height="20px">&nbsp;</td>
</tr>
</tbody>
</table>
<p style="margin: 0; margin-bottom: 10px; color: #0a0a0a; font-family: OpenSans,Open Sans,Helvetica,Arial,sans-serif; font-size: 16px; font-weight: 400; line-height: 1.3; padding: 0; text-align: left;">Email us at: progmaticprojectcinema@gmail.com</p>
</th></tr>
</tbody>
</table>
</th><th class="small-12 large-6 columns last" style="margin: 0 auto; color: #0a0a0a; font-family: OpenSans,Open Sans,Helvetica,Arial,sans-serif; font-size: 16px; font-weight: 400; line-height: 1.3; padding: 0; padding-bottom: 16px; padding-left: 8px; padding-right: 16px; text-align: left; width: 274px;">
<table style="border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; width: 100%;">
<tbody>
<tr style="padding: 0; text-align: left; vertical-align: top;"><th style="margin: 0; color: #0a0a0a; font-family: OpenSans,Open Sans,Helvetica,Arial,sans-serif; font-size: 16px; font-weight: 400; line-height: 1.3; padding: 0; text-align: left;">
<table class="spacer" style="border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; width: 100%;">
<tbody>
<tr style="padding: 0; text-align: left; vertical-align: top;">
<td style="-moz-hyphens: auto; -webkit-hyphens: auto; margin: 0; border-collapse: collapse!important; color: #fff; font-family: OpenSans,Open Sans,Helvetica,Arial,sans-serif; font-size: 20px; font-weight: 400; hyphens: auto; line-height: 20px; mso-line-height-rule: exactly; padding: 0; text-align: left; vertical-align: top; word-wrap: break-word;" height="20px">&nbsp;</td>
</tr>
</tbody>
</table>
<p style="margin: 0; margin-bottom: 10px; color: #0a0a0a; font-family: OpenSans,Open Sans,Helvetica,Arial,sans-serif; font-size: 16px; font-weight: 400; line-height: 1.3; padding: 0; text-align: left;">1036 Budapest,<br />Nagyszombat street 9</p>
</th></tr>
</tbody>
</table>
</th></tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</center></td>
</tr>
</tbody>
</table>
<!-- prevent Gmail on iOS font size manipulation -->
<div style="display: none; white-space: nowrap; font: 15px courier; line-height: 0;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</div>